
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="../../../../favicon.ico">

    <title></title>

    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="narrow-jumbotron.css" rel="stylesheet">
    <script type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.css" />
</head>

<body>
    <script type="text/javascript" language="javascript" src="/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.js?0=0&amp;0=0&amp;0=0"></script>

    <div class="container">
        <div>
            <header class="header clearfix">
                <nav>
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">C</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted"></h3>
            </header>

            <main role="main">

                <div class="jumbotron">
                    <h1 class="display-3"><span class="glyphicon glyphicon-hand-down"></span></h1>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Faça seu Pedido</button>
                </div>
            </main>

            <footer class="footer">
                <p>&copy; Company 2017</p>
            </footer>
        </div>               
    </div> <!-- /container -->
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

